            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body {
                background: #ffffff;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
            a {
                text-decoration: none;
                color: #31414e;
                font-weight: 700;
            }
            a.lien-orange {
                text-decoration: none;
                color: #f98924;
                font-weight: 500;
            }

            .anchor {
                position: absolute;
                visibility: hidden;
                height: 1px;
                content: "";
                display: block;
                margin-top: -200px;
            }
            .anchor2 {
                position: absolute;
                visibility: hidden;
                height: 1px;
                content: "";
                display: block;
                margin-top: -140px;
            }
            .divanchor {
                height: 0px;
                overflow: hidden;
            }
            .anchor-engagement {
                visibility: show;
                content: "";
                height: 10px;
                position: absolute;
                top: 10px;
            }
            .center {
                text-align: center;
            }
            .imcenter {
                display: block;
                margin: 0 auto;
            }
            .width100 {
                width: 100%;
            }
            .light {
                font-weight: 300;
            }
            .uppercase {
                text-transform: uppercase;
            }
            .hidden {
                z-index: -1;
                visibility: hidden;
            }
            .bold28 {
                font-size: 28px;
                font-weight: 700;
            }
            .light40 {
                font-size: 40px;
                font-weight: 300;
            }
            .center-vertical {
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            #container0 {
                position: relative;
                width: 100%;
                max-width: 1366px;
                width: 100%;
                background-color: #ffffff;
                margin: 0 auto;
            }
            #container {
                position: relative;
                width: 100%;
                max-width: 1366px;
                width: 100%;
                background-color: #ffffff;
                margin: 0 auto;
            }
            #header {
                display: none;
                position: relative;
                width: 100%;
                height: auto;
                text-align: center;
                border-bottom: 1px solid #b7b6b6;
            }
            #logo {
                position: relative;
                margin: 0 auto;
                height: auto;
                margin-top: 35px;
            }
            #liens {
                display: inline-block;
                width: 100%;
                position: relative;
                padding-top: 14px;
                line-height: 22px;
                margin-top: -2px;
                text-align: center;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                color: rgba(0, 0, 0, 1);
            }
            .m-w100 {
                display: block;
                width: 100%;
                text-align: center;
            }
            #press_room,
            #contact {
                display: inline-block;
                position: relative;
            }
            #liens .sep {
                margin-left: 26px;
            }
            #liens .sep2 {
                margin-left: 12px;
            }
            #contacter {
                position: relative;
            }
            #contacter:after {
                display: block;
                content: "";
                height: 2px;
                background-color: #31414e;
                width: 80px;
                position: absolute;
                left: 0px;
            }
            /* MENU */
            #header0 {
                display: block;
                width: 100%;
                position: fixed;
                top: 0px;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
                background-color: #fff;
                height: 140px;
                z-index: 200;
                border-bottom: 1px solid #b7b6b6;

            }

            #header-mobile {
                width: 80%;
                margin: 0 auto;
                position: relative;
                margin-right: auto;
                margin-left: auto;
                z-index: 200;
            }

            #menu-mobile {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                display: none;
                z-index: 20;
                background-color: #fff;
                border-bottom: 1px solid #b7b6b6;
                height: 470px;
            }

            .hamburger {
                display: block;
                position: absolute;
                top: 30px;
                right: 0px;
                z-index: 300;
            }
            #menu-mobile {
                display: none;
                flex-direction: column;
                justify-content: center;
            }
            #menu-mobile a.sep {
                display: block;
                text-align: center;
                text-decoration: none;
                color: black;
                font-size: 16px;
            }
            .padding10 {padding: 30px 0 !important;}
            #menu-mobile div {
                padding: 8px 0;
                text-align: center;
                background-color: #ffffff;
                text-decoration: none;
                width: auto;
            }

            #menu-mobile div img {
                margin-right: auto;
                margin-left: auto;
            }

            .mobileview {
                display: block;
            }

            .pcview {
                display: none;
            }

            .active {
                background: none;
            }

            #hamburger {
                display: none;
            }

            #hamburger:checked ~ #menu-mobile {
                display: flex;
            }

            #am {
                background-image: url(images/fond-bouton2.png);
                width: 25px;
                height: 18px;
                background-position: left;
            }

            #hamburger:checked + #am:after {
                position: absolute;
                background-image: url(images/fond-bouton2.png);
                background-color: #fff;
                background-position: right;
                content: " ";
                width: 25px;
                height: 18px;
                top: 0;
                left: 0;
            }

            .hero,
            #video-manifesto {
                width: 100%;
                position: relative;
                overflow: hidden;
                margin-top: 0px;
            }
            .hero-V2 {
                margin-top: 120px;
            }

            .hero-img {
                position: absolute;
                width: 100%;
                height: 757px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                min-width: 101%;
                min-height: 101%;
                width: auto;
                height: auto;
                max-width: none;
            }
            #Osez_phraterniser_1 {
                width: 100%;
                text-align: center;
                padding: 20px;
            }
            .phraterniser_0 {
                line-height: 30px;
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                margin: 30px 0 20px 0;
                text-transform: uppercase;
            }
            .phraterniser_1 {
                line-height: 38px;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                margin: 0px 0 20px 0;
                text-transform: uppercase;
            }
            .phraterniser_2 {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
            }
            #Osez_phraterniser_2 {
                position: relative;
                max-width: 720px;
                text-align: center;
                padding: 20px;
                margin: 0 auto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                margin-bottom: 60px;
            }
            #agence {
                position: relative;
                width: 100%;
                min-height: 200px;
                text-align: left;
                padding: 80px 40px;
                background-color: #43d2d2;
            }
            #agences_2 {
                position: relative;
                max-width: 900px;
                text-align: left;
                margin: 0px auto;
            }
            #agences_expertises {
                overflow: visible;
                line-height: 68px;
                text-align: left;
                font-family: Montserrat;
                font-style: normal;
                font-weight: lighter;
                font-size: 38px;
                color: rgba(255, 255, 255, 1);
                text-transform: uppercase;
            }
            #agences_expertises_2 {
                display: flex;
                flex-direction: column;
            }
            .artisans_1 {
                font-size: 28px;
                font-weight: 700;
                line-height: 35px;
            }
            .artisans_2 {
                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                color: #ffffff;
                padding-right: 50px;
            }

            #hub {
                width: 100%;
                max-width: 353px;
                text-align: left;
                font-size: 16px;
                color: rgba(0, 0, 0, 1);
                font-size: 16px;
                padding-top: 20px;
            }
            #illus {
                position: absolute;
                right: 0px;
                bottom: -120px;
                z-index: 20;
                display: none;
            }

            #poles {
                position: relative;
                width: 100%;
                background-color: #ffffff;
                min-height: 200px;
                text-align: center;
                padding: 80px 20px 0 20px;
            }
            #poles_1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                flex-wrap: wrap;
            }
            #poles_1 h2 {
                font-size: 24px;
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            #Ple_image {
                display: none;
                text-align: center;
                padding: 0 20px 20px 20px;
            }
            #Ple_live {
                text-align: center;
                margin-bottom: 40px;
                min-width: 300px;
            }
            #Ple_live h2 {
                color: #00454a;
            }
            #Ple_innovation {
                text-align: center;
                min-width: 300px;
                margin-bottom: 40px;
            }
            #Ple_innovation h2 {
                color: #e8432f;
            }
            #Ple_communication {
                text-align: center;
                min-width: 300px;
                margin-bottom: 40px;
            }
            #Ple_communication h2 {
                color: #f98924;
            }
            #poles_1 > div {
                width: 33%;
            }
            .croix {
                display: none;
            }
            #agences {
                position: relative;
                width: 100%;
                background-color: #ffffff;
                min-height: 200px;
                text-align: center;
                padding: 40px 20px;
            }
            #agences_1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 16px;
                flex-wrap: wrap;
                max-width: 900px;
                margin: 0 auto;
            }
            .bloc-agence {
                text-align: center;
                min-width: 300px;
                font-size: 14px;
                font-weight: 500;
            }
            .bloc-agence a {
                text-decoration: none;
                font-weight: 500;
            }
            .bloc-agence img {
                margin-top: 10px;
            }
            .bloc-agence-image {
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .bloc-agence-image img {
                vertical-align: middle;
            }
            #agences_1 > div {
                width: 33%;
            }

            #health {
                position: relative;
                width: 100%;
                height: auto;
            }
            #health_1 {
                display: flex;
                flex-direction: column;
                width: 100%;
                font-size: 16px;
                padding: 0;
            }
            #health_1 .bloc1 {
                background-color: #43d2d2;
                width: 100%;
                padding: 60px 20px;
                padding-left: 100px;
            }
            #health_1 .bloc1 h2 {
                font-size: 26px;
                font-weight: 700;
                color: #ffffff;
                line-height: 30px;
                margin: 10px 0;
                text-transform: uppercase;
                position: relative;
            }
            #health_1 .bloc1 h2:before {
                display: block;
                content: "";
                height: 1px;
                background-color: #000000;
                width: 48px;
                position: absolute;
                left: -58px;
                top: 54px;
            }
            #health_1 .bloc2 {
                width: 100%;
                background-image: url(images/fond.png);
                padding: 20px 30px 20px 100px;
                font-size: 16px;
            }
            #health_1 .bloc2 h2 {
                font-size: 26px;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
                margin: 10px 0;
            }
            #health_1 .bloc2-1 {
                background-image: url(images/question.png);
                background-position: 110px -80px;
                background-repeat: no-repeat;
                padding: 20px 0;
            }
            #health_1 .bloc2-1 p {
                text-align: left;
            }
            #acteurs {
                position: relative;
                width: 100%;
                padding: 20px 20px;
                text-align: center;
            }
            #acteurs_2 {
                position: relative;
                max-width: 900px;
                text-align: center;
                margin: 0px auto;
                padding: 20px 20px;
            }
            #acteurs_2 h2 {
                display: inline-block;
                line-height: 48px;
                text-align: left;
                font-family: Montserrat;
                font-style: normal;
                font-weight: lighter;
                font-size: 38px;
                color: rgba(255, 69, 0, 1);
                text-transform: uppercase;
            }
            #acteurs_chiffres {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                font-size: 24px;
                margin-top: 60px;
            }
            .circle {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                color: #fff;
                text-align: center;
                background: #ff4500;
                padding-top: 90px;
                text-transform: uppercase;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            #acteurs_chiffres div:last-child {
                margin-right: 0;
            }
            .circle h3 {
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 30px;
            }
            .circle p {
                line-height: 28px;
            }

            #equipes {
                position: relative;
                width: 100%;
                min-height: 459px;
                padding: 0px;
                background-image: url(images/suricate.png);
                background-position: center center;
                background-size: cover;
                padding-top: 60px;
            }
            #equipes_2 {
                position: relative;
                max-width: 900px;
                text-align: left;
                margin: 0px auto;
                padding: 20px;
                font-size: 28px;
                color: #fff;
                line-height: 32px;
                text-align: center;
            }
            #equipes_2 p:last-child {
                font-size: 24px;
            }

            #equipedirigeante {
                position: relative;
                width: 100%;
                padding: 60px 20px 20px 20px;
            }
            #equipedirigeante_2 {
                position: relative;
                max-width: 900px;
                text-align: left;
                margin: 0px auto;
                padding: 20px;
            }
            #equiped0 {
                position: relative;
            }
            #equiped1 {
                font-weight: bold;
                font-size: 28px;
                margin-left: 0px;
            }
            #equiped2 {
                font-style: normal;
                font-weight: 300;
                font-size: 46px;
                color: rgba(255, 69, 0, 1);
                line-height: 50px;
                margin-left: 60px;
                margin-top: 20px;
            }
            #equiped2:before {
                display: block;
                content: "";
                height: 1px;
                background-color: #000000;
                width: 128px;
                position: absolute;
                left: -72px;
                top: 56px;
            }
            #equiped3 {
                font-weight: 300;
                font-size: 24px;
                line-height: 35px;
                color: rgba(0, 0, 0, 1);
            }
            #photo-phratrie {
                position: relative;
                width: 100%;
                text-align: center;
            }
            #bande-orange {
                position: absolute;
                top: 80px;
                height: 222px;
                width: 100%;
                background-color: #ff4500;
                z-index: 1;
                display: none;
            }
            .imphratrie {
                max-width: 990px;
                width: 100%;
                margin: 0 auto;
            }
            #imphratrie {
                position: absolute;
                z-index: 2;
                width: 100%;
                text-align: center;
            }

            #membres {
                position: relative;
                width: 100%;
                padding: 20px 10px;
            }
            #membres_1 {
                position: relative;
                max-width: 900px;
                text-align: center;
                margin: 0px auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .titre-membre,
            .sep-membre {
                font-weight: normal;
                font-size: 16px;
                line-height: 50px;
                width: 100%;
                text-align: center;
                color: rgba(255, 69, 0, 1);
            }
            .sep-membre {
                display: none;
            }
            .membre {
                font-weight: normal;
                font-size: 14px;
                text-align: center;
                width: 50%;
                margin: 30px 0;
            }
            .membre h2 {
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
            }
            #engagements {
                position: relative;
                width: 100%;
                text-align: left;
                background-color: #ffd600;
                height: 215px;
                padding: 0 20px;
            }
            #engagements__valeurs {
                position: relative;
                max-width: 900px;
                font-weight: 300;
                font-size: 38px;
                line-height: 44px;
                color: rgba(0, 0, 0, 1);
                text-transform: uppercase;
                margin: 0 auto;
            }

            #valeurs {
                position: relative;
                width: 100%;
                padding: 40px 20px;
                height: auto;
            }
            #valeurs_1 {
                height: 515px;
                position: relative;
                max-width: 900px;
                font-size: 38px;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                margin: 100px auto;
                justify-content: space-between;
                align-items: center;
            }
            #valeurs_1 #box1 {
                position: relative;
                width: 320px;
                line-height: 52px;
                padding-bottom: 60px;
            }
            #valeurs_1 #box2 {
                position: relative;
                width: 320px;
                line-height: 36px;
                text-transform: uppercase;
            }
            .boxright {
                display: inline-block;
                text-align: right;
            }
            #box2 .right {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 35px;
                width: 100%;
                text-align: right;
                line-height: 60px;
            }
            #box2 .light {
                font-size: 34px;
                font-weight: 300;
            }

            #valeurs_1 #box1:before {
                display: none;
                content: "";
                height: 1px;
                background-color: #000000;
                width: 34px;
                position: absolute;
                left: -52px;
                top: 146px;
            }
            #engager {
                position: relative;
                width: 100%;
                background-color: #ffd600;
                padding: 0 20px;
                height: auto;
                margin: 0;
            }
            #engager_1 {
                position: relative;
                max-width: 900px;
                font-size: 38px;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
                padding: 100px 0px;
            }
            #engager:before {
                content: "";
                position: absolute;
                top: 0;
                left: 200px;
                margin-left: -120px;
                width: 0;
                height: 0;
                border-top: solid 100px #ffffff;
                border-left: solid 100px transparent;
                border-right: solid 100px transparent;
            }
            #engagements:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 200px;
                margin-left: -120px;
                width: 0;
                height: 0;
                border-top: solid 100px #ffd600;
                border-left: solid 100px transparent;
                border-right: solid 100px transparent;
            }
            #engager_1 #box1 {
                position: relative;
                width: 320px;
                line-height: 52px;
                padding: 40px 0px;
            }
            #engager_1 #box1:before {
                display: none;
                content: "";
                height: 1px;
                background-color: #000000;
                width: 34px;
                position: absolute;
                left: -52px;
                top: 240px;
            }
            #engager_1 #box2 {
                width: 330px;
                text-align: center;
            }
            #engager_1 #box2 h2 {
                text-transform: uppercase;
                font-size: 24px;
                line-height: 28px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            #engager_1 #box2 p {
                font-size: 13px;
                line-height: 18px;
                font-weight: 400;
            }
            #coq {
                position: absolute;
                right: 0;
                top: 150px;
                display: none;
            }

            #vision {
                position: relative;
                width: 100%;
                padding: 60px 20px 60px 20px;
                margin: 0;
                height: auto;
            }
            #vision_1 {
                position: relative;
                max-width: 1100px;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
            }
            #vision_1 #box2 {
                width: 100%;
                height: auto;
            }
            #vision_1 #box2 {
                max-width: 830px;
                width: calc(100% - 100px);
                position: relative;
                margin-left: 100px;
                font-size: 30px;
                line-height: 36px;
            }
            #vision_1 #box2:before {
                display: block;
                content: "";
                height: 1px;
                background-color: #000000;
                width: 74px;
                position: absolute;
                left: -86px;
                top: 64px;
            }
            #press {
                position: relative;
                width: 100%;
                padding: 0 20px;
            }
            #presse_1 {
                height: auto;
                position: relative;
                max-width: 900px;
                margin: 0 auto;
                padding-bottom: 40px;
            }
            #presse_1_1 {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 60px 0 60px 0;
            }
            #presse_1_1 #box1 {
                font-size: 78px;
                line-height: 78px;
                font-weight: 300;
                margin-bottom: 40px;
            }
            #presse_1_1 #box2 {
                font-size: 24px;
                line-height: 42px;
                font-weight: 500;
                align-self: flex-end;
            }
            #room {
                position: relative;
                display: inline-block;
                margin-left: 80px;
            }
            #room:before {
                display: block;
                content: "";
                height: 1px;
                background-color: #707070;
                width: 74px;
                position: absolute;
                left: -76px;
                top: 66px;
            }
            #presse_1_2 {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
            }
            #presse_1_2 #box {
                font-size: 16px;
                line-height: 20px;
                font-weight: 300;
                height: 408px;
                width: 300px;
                text-align: center;
                border: 1px solid #b7b6b6;
                margin-bottom: 20px;
            }
            #presse_1_2 #box .header-press {
                background-position: center center;
                background-size: cover;
                height: 100px;
                width: 100%;
            }
            #presse_1_3 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 60px 0;
               }
            #presse_1_3 #box {
                font-size: 24px;
                line-height: 42px;
                font-weight: 500;
                width: 300px;
                align-self: center;
            }
            #pressebox2 {
                position: relative;
                margin-left: 100px;
            }
            #pressebox2:before {
                display: block;
                content: "";
                height: 1px;
                background-color: #b7b6b6;
                width: 97px;
                position: absolute;
                left: -100px;
                top: 30px;
            }
            .emailpress p {
                font-size: 16px;
                font-weight: 300;
            }
            .emailpress p a {
                font-size: 16px;
                font-weight: 500;
            }
            #contacter_nous {
                width: 100%;
                background-color: #43d2d2;
                padding: 60px 20px;
            }
            #contacter_nous_1 {
                height: auto;
                position: relative;
                width: 100%;
                max-width: 900px;
                padding: 0px;
                margin: 0 auto;
                text-align: center;
            }
            #contacter_nous_1 h2 {
                font-size: 40px;
                font-weight: 300;
                line-height: 60px;
                text-transform: uppercase;
            }
            #contacter_nous_1 h3 {
                font-size: 28px;
                line-height: 38px;
                font-weight: 500;
            }
            #form {
                position: relative;
                width: 100%;
                max-width: 962px;
                margin: 0 auto;
                padding: 20px;
                background-color: #ffffff;
            }
            #form a {
                font-weight: 400;
            }
            .form-control3 {
                width: 100%;
                max-width: 936px;
                height: 44px;
                margin-bottom: 20px;
                font-size: 23px;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                padding-left: 15px;
                border: 0px;
                background-color: #d9f6f6;
            }

            .form-control2 {
                width: 100%;
                max-width: 936px;
                height: 138px;
                margin-bottom: 20px;
                padding-left: 4px;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                padding: 10px 0 0 15px;
                border: 0px;
                background-color: #d9f6f6;
            }

            .form-control4 {
                width: 127px;
                height: 40px;
                font-family: "Open Sans";
                font-weight: 500;
                font-size: 23px;
            }

            textarea {
                width: 100%;
                max-width: 936px;
            }
            label input {
                visibility: hidden;
                display: block;
                height: 0;
                width: 0;
                position: absolute;
                overflow: hidden;
            }
            label span {
                height: 10px;
                width: 10px;
                border: 1px solid grey;
                display: inline-block;
            }
            [type="checkbox"] + span {
                border: 1px solid #43d2d2;
                height: 25px;
                width: 25px;
                margin-right: 15px;
                background: #ffffff;
            }
            [type="checkbox"]:checked + span {
                border: 1px solid #43d2d2;
                background: #000000;
            }

            #champs {
                font-size: 10px;
            }

            #mention {
                font-size: 10px;
                line-height: 12px;
            }
            #mentions {
                text-align: left;
                font-size: 14px;
            }
            #message {
                color: red;
            }
            #envoyer {
                background-color: #43d2d2;
                font-weight: 700;
                font-size: 16px;
                line-height: 40px;
                width: 120px;
                text-align: center;
                border: 0;
                margin-top: 0px;
                border-radius: 4px;
            }
            #mentions-legales {
                position: relative;
                height: 133px;
                background-color: #fbf5ea;
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                padding-top: 70px;
                border: 1px solid #b7b6b6;
            }
            #mentions-legales a {
                text-decoration: none;
                color: #000000;
            }
            #logo-bottom {
                position: absolute;
                top: -50px;
                right: calc(50% - 50px);
            }

            @media screen and (min-width: 600px) {
                #engagements:after {
                    left: 360px;
                }
                #engager:before {
                    left: 360px;
                }
            }

            @media screen and (min-width: 880px) {
                #equiped3 {
                font-size: 35px;
                }
                .circle {
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
                #header0 {
                    display: none;
                }
                #header {
                    display: block;
                    position: fixed;
                    top: 0;
                    height: auto;
                    text-align: center;
                    z-index: 30;
                    max-width: 1366px;
                }
                #logo {
                    position: relative;
                    margin: 0 auto;
                    height: auto;
                    margin-top: 35px;
                }
                #menu {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    justify-content: center;
                    line-height: 16px;
                    margin-top: 12px;
                    text-align: center;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 1);
                    text-transform: uppercase;
                    width: 100%;
                }
                #menu a {
                    text-decoration: none;
                }
                #menu div {
                    display: block;
                    text-align: left;
                    z-index: 25;
                }
                #menu .sep {
                    margin-left: 20px;
                }
                #manifesto_header {
                    margin-top: 0px;
                }

                .hero {
                    height: 770px;
                    margin-top: 140px;
                }
                .hero2 {
                    height: 770px;
                    margin-top: 0px;
                }
                 #contacter:after {
                    width: 60px;
                }
                #contacter_nous_1 h2 {
                    font-size: 70px;
                    line-height: 100px;
                    padding: 0px 40px;
                }
                #form {
                    padding: 50px;
                }
                #manifesto_header {
                    margin-top: -10px;
                }
                #header {
                    margin: 0 auto;
                    height: 140px;
                    background-color: #fff;
                    width: 100%;
                }
                #logo {
                    margin-top: 35px;
                    margin-left: 140px;
                    height: 100%;
                    position: absolute;
                    top: 40%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                #liens {
                    display: flex;
                    position: absolute;
                    right: 140px;
                    top: 0px;
                    width: auto;
                }
                #liens .sep {
                    margin-left: 26px;
                }
                #liens .sep2 {
                    margin-left: 12px;
                }

                #menu {
                    display: flex;
                    position: absolute;
                    right: 140px;
                    top: 90px;
                    width: auto;
                }
                #menu .sep {
                    margin-left: 56px;
                }
                .hero-V2 {
                    margin-top: 140px;
                }
                .m-w100 {
                    display: inline-block;
                    width: auto;
                }
                #agences_expertises_2 {
                    display: flex;
                    flex-direction: row;
                }
                .artisans_2 {
                    font-size: 82px;
                    line-height: 90px;
                }

                #poles_1 {
                    flex-direction: row;
                }
                #Ple_image {
                    display: block;
                    text-align: center;
                }
                #Ple_live {
                    text-align: right;
                    margin-bottom: 20px;
                }
                #Ple_innovation {
                    text-align: left;
                    margin-bottom: 20px;
                }
                #Ple_communication {
                    text-align: center;
                    margin-bottom: 20px;
                }
                .croix {
                    display: block;
                }

                #health_1 {
                    flex-direction: row;
                    width: 100%;
                }
                #health_1 .bloc1 {
                    width: 55%;
                    padding: 20px;
                    padding-left: 250px;
                }
                #health_1 .bloc2 {
                    width: 45%;
                    padding: 20px 50px 20px 70px;
                }
                #health_1 .bloc2-1 {
                    background-position: 110px -95px;
                }
                #health_1 .bloc2-1 p {
                    display: block;
                    text-align: center;
                }
                #acteurs {
                    position: relative;
                    width: 100%;
                    padding: 0px;
                }
                #acteurs_2 {
                    position: relative;
                    max-width: 900px;
                    text-align: left;
                    margin: 0px auto;
                    padding: 60px 0;
                }
                #acteurs_2 h2 {
                    line-height: 48px;
                    text-align: left;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: lighter;
                    font-size: 38px;
                    color: rgba(255, 69, 0, 1);
                    text-transform: uppercase;
                }
                #acteurs_chiffres {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    font-size: 24px;
                    margin-top: 60px;
                }
                .circle {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;
                    background: #ff4500;
                    padding-top: 90px;
                    text-transform: uppercase;
                    margin-right: 20px;
                }
                #acteurs_chiffres div:last-child {
                    margin-right: 0;
                }
                .circle h3 {
                    font-size: 18px;
                    font-weight: normal;
                    margin-bottom: 30px;
                }
                .circle p {
                    line-height: 28px;
                }
                #equiped2 {
                    line-height: 80px;
                    margin-top: 0px;
                }
                #bande-orange {
                    display: block;
                }
                .sep-membre {
                    display: block;
                }
                #valeurs_1 {
                    font-size: 48px;
                }
                #valeurs_1 #box1:before {
                    display: block;
                    content: "";
                    height: 1px;
                    background-color: #000000;
                    width: 74px;
                    position: absolute;
                    left: -86px;
                    top: 146px;
                }

                #engagements {
                    position: relative;
                    width: 100%;
                    text-align: left;
                    background-color: #ffd600;
                    height: 215px;
                    padding: 0 20px;
                }
                #engagements__valeurs {
                    position: relative;
                    max-width: 900px;
                    font-weight: 300;
                    font-size: 38px;
                    line-height: 44px;
                    color: rgba(0, 0, 0, 1);
                    text-transform: uppercase;
                    margin: 0 auto;
                }
                #engager_1 #box1 {
                    width: 380px;
                    padding: 40px 0px;
                }
                #engager_1 #box1:before {
                    display: block;
                }
                .membre {
                    width: 33%;
                }
                #valeurs_1 {
                    flex-direction: row;
                    margin: 0px auto;
                }

                #engager {
                    padding: 0 20px;
                }
                #engager_1 {
                    flex-direction: row;
                    font-size: 48px;
                }

                #coq {
                    display: block;
                }

                #vision {
                    position: relative;
                    width: 100%;
                    padding: 0px 20px;
                }
                #vision_1 {
                    flex-direction: row;
                }
                #presse_1_1 {
                    flex-direction: row;
                }
                #presse_1_1 #box1 {
                    font-size: 78px;
                    line-height: 78px;
                    font-weight: 300;
                    margin-bottom: 0px;
                }
                #presse_1_2 {
                    flex-direction: row;
                }
                 #presse_1_2 #box{
                    width: 32%;
                }
                #presse_1_3 {
                    flex-direction: row;
                }
                #presse_1_3 #box {
                    align-self: flex-end;width: 32%;
                }
                #vision_1 #box2 {
                    font-size: 48px;
                    line-height: 50px;
                }
                #vision_1 #box2:before {
                    display: block;
                    content: "";
                    height: 1px;
                    background-color: #000000;
                    width: 74px;
                    position: absolute;
                    left: -86px;
                    top: 88px;
                }
            }

            @media screen and (min-width: 1000px) {
                #illus {
                    display: block;
                }
            }
            @media screen and (min-width: 1200px) {
                #menu {
                    top: 63px;
                }
                #logo {
                    top: 50%;
                }
                #illus {
                    display: block;
                }
                #health_1 .bloc2 {
                    padding: 20px 230px 20px 70px;
                }
            }
            @media (min-aspect-ratio: 16/9) {
                .videoBG {
                    width: 100%;
                    height: 100%;
                }
            }
            @media (max-aspect-ratio: 16/9) {
                .videoBG {
                    width: 100%;
                    height: 100%;
                }
            }
            #texte-mentions-legales-1 {
                position: relative;
                width: 100%;
                padding: 0px 40px;
                text-align: center;
            }
            #texte-mentions-legales {
                max-width: 900px;
                width: 100%;
                margin: 0 auto;
                text-align: left;
                padding: 80px 0;
                margin-top: 120px;
            }
            #texte-mentions-legales h1 {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 30px;
            }
            #texte-mentions-legales h2 {
                font-size: 16px;
                font-weight: 700;
                line-height: 60px;
            }

